.contact-page {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  overflow-y: auto;
  
  .page-content {
    width: 100%;
    max-width: 1200px;
  }
}
