@import '../../styles/mixins/glass';

.navbar {
  @include glass-card;
  position: fixed;
  top: 20px;
  left: 40%;
  width: min(60vw, 1200px);
  height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  z-index: 1000;
  border-radius: 50px 0 0 50px;
  gap: 20px;
  
  .logo {
    font-size: 1.5rem;
    font-weight: 700;
    color: var(--fg);
    
    span {
      color: var(--primary);
    }
  }
  
  .nav-links {
    display: flex;
    width: 100%;
    justify-content: space-between;
    list-style: none;
    gap: 10px;
    
    li {
      position: relative;
      
      a {
        display: flex;
        align-items: center;
        gap: 8px;
        padding: 10px 20px;
        border-radius: 30px;
        color: var(--muted);
        transition: color 0.3s ease;
        position: relative;
        z-index: 1;
        @media (max-width: 1327px) {
          padding: 10px;
        }
        
        .icon {
          display: flex;
          align-items: center;
        }
        
        .label {
          font-weight: 500;
        }
        
        &:hover {
          color: var(--fg);
        }
        
        &.active {
          color: var(--fg);
        }
        
        .active-indicator {
          position: absolute;
          bottom: 0;
          left: 0;
          width: 100%;
          height: 100%;
          background: rgba(255, 255, 255, 0.1);
          border-radius: 30px;
          z-index: -1;
          border: 1px solid var(--glass-border);
        }
      }
    }
  }

  @media (max-width: 1022px) {
    gap: 30px;

    .label {
      display: none;
    }
  }
  
  @media (max-width: 768px) {
    padding: 0 10px;
    
    .logo, .label {
      display: none;
    }
    
    .nav-links {
      width: 100%;
      justify-content: space-between;
      gap: 0;
      
      li a {
        padding: 10px;
        justify-content: center;
        
        .icon {
          width: 24px;
          height: 24px;
          justify-content: center;
        }
      }
    }
  }
}
